<style type="text/css">
    #slider {
        float: left;
        width: 230px;
        padding: 10px;
        text-align: center;
        position: relative;
    }
    
    #slider li {
        list-style: none;
        float: left;
    }
    
    #text_slider {
        float: right;
        width: 480px;
        padding: 10px;
        text-align: justify;
        font-family: "Georgia";
        font-size: 13px;
        line-height: 18px;
    }
    
    #hidden_content {
        display: none;
        width: 480px;
        padding: 10px;
        text-align: justify;
        font-family: "Georgia";
        font-size: 13px;
        line-height: 18px;
    }
</style>
<script>
    $(document).ready(function(){
    
        $("#slider li").click(function(){
            /*
             $("#default_content").hide("slide", {
             direction: "left"
             }, 1000);
             var date = new Date();
             var curDate = null;
             do {
             curDate = new Date();
             }
             while (curDate - date < 4000);
             */
            $("#default_content").hide();
            
            $("#hidden_content").show("slide", {
                direction: "right"
            }, 1000);
        });
        
    });
</script>
<div id="slider">
    <ul>
        <li class="prj1">
            <%= image_tag("twitter.png") %>
        </li>
        <li class="prj2">
            <%= image_tag("twitter.png") %>
        </li>
        <li class="prj3">
            <%= image_tag("twitter.png") %>
        </li>
    </ul>
</div>
<div id="text_slider">
    <div id="default_content">
        <p id="prj1">
            PROJECT 1
            <br>
            Our Phoenix division acts as the condo doctor to diagnose, cure, rehabilitate, renovate, re-position, and remarket ‘broken or fractured condominium projects. 
            In this field of broken or fractured condominium market, we have a unique, and unparalleled experience of several years.  
            During the period of the previous real estate crisis, viz. the RTC (Resolution Trust Corporation) period, we acquired several broken/fractured condo projects, resuscitated them by renovation, and rehabilitation, apart from re-branding, repositioning, and remarketing. 
            Please see the project list for a list of projects completed by the Phoenix division (Arjun, here, please provide our long list of Project Description, containing lots of pictures, for about 20 or so projects, but make sure there is no duplication with the list of work we have presented under Everest). 
            Our success in this area is due to our adoption of the 5 step process, viz.
        </p>
    </div>
    <div id="hidden_content">
        <p id="prj2">
            PROJECT 2
            <br>
            Our Phoenix division acts as the condo doctor to diagnose, cure, rehabilitate, renovate, re-position, and remarket ‘broken or fractured condominium projects. 
            In this field of broken or fractured condominium market, we have a unique, and unparalleled experience of several years.  
            During the period of the previous real estate crisis, viz. the RTC (Resolution Trust Corporation) period, we acquired several broken/fractured condo projects, resuscitated them by renovation, and rehabilitation, apart from re-branding, repositioning, and remarketing. 
            Please see the project list for a list of projects completed by the Phoenix division (Arjun, here, please provide our long list of Project Description, containing lots of pictures, for about 20 or so projects, but make sure there is no duplication with the list of work we have presented under Everest). 
            Our success in this area is due to our adoption of the 5 step process, viz.
        </p>
    </div>
</div>
