<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>About Us</title>
        <%= stylesheet_link_tag 'phoenix', :media => "all" %>
     </head>
    <body>
    	 <div id="sidebar">
			<br><%= image_tag("DrVishPic.jpg", :size=>"160x105") %>
			<br>Dr Ganeshan (Vish)<br>Visvabharathy, President
    	 	<br><br><br><br><br><%= image_tag("everestpartners_Arjun.jpg") %>
			<br>Arjun Rangarajan<br>Vice President<br>Asset Management
        </div>
        <div id="text">
            <p>

                Ganeshan Visvabharathy (popularly called as Dr Vish) is the President and CEO of Vilas Development
				Corporation, a real estate development firm located in Burr Ridge, Illinois. He has been serving
				in this capacity for the last 21 years. Over the past 21 years, Vilas has converted, built or 
				redeveloped over five thousand condominium units in the city of Chicago, as well as the suburban
				areas of Chicago, downstate Illinois, and also in the state of Florida, valued in excess of $1.5Billion.
				<br>&nbsp;&nbsp;&nbsp;&nbsp;
				     Dr Vish has served on the boards of the Homebuilders Association of Greater Chicago, TIE(The Indus 
				Entrepreneurs) organization, Business Advisory Group of the State of Illinios(under Rep Patty Bellock),
				and Chicago Crime Commision, a non profit Citizen Law-enforcement help Organization.
            </p>

			<p>
				<br><br><br>
				Arjun heads the Phoenix' Asset Management Division. Arjun has over 8 years of experience managing thousands
				of Apartments in a multi-state setting.
				<br>&nbsp;&nbsp;&nbsp;&nbsp;
				Arjun has had extensive exposure, and has been actively involved in leasing, maintenance, tenant, community,
				city and law enforcement relations, property tax appeal, condominium association management, condominium
				declaration and bye-laws, apartment renovation, as well as structural improvements.
			</p>
</html>
